In [1]:
from xgboost import XGBClassifier

In [1]:
import pandas as pd

In [2]:
path = r"C:\Users\OEM\Desktop\Datascience details\Regression\myCode\InputFile\ipl\matches.csv"

In [4]:
##Load data to sframe
input_df = pd.read_csv(path)

In [80]:
input_df.head()
##Loading only the necessary input variables
input_df_1 =  input_df.iloc[:,[2,4,5,6,7,10]]

In [81]:
print(input_df_1[input_df_1.isnull().any(axis=1)])

          city                        team1                        team2  \
300      Delhi             Delhi Daredevils                Pune Warriors
461        NaN               Mumbai Indians  Royal Challengers Bangalore
462        NaN        Kolkata Knight Riders             Delhi Daredevils
466        NaN          Chennai Super Kings             Rajasthan Royals
468        NaN          Sunrisers Hyderabad             Delhi Daredevils
469        NaN               Mumbai Indians          Chennai Super Kings
474        NaN  Royal Challengers Bangalore              Kings XI Punjab
476        NaN          Sunrisers Hyderabad               Mumbai Indians
545  Bangalore  Royal Challengers Bangalore             Rajasthan Royals
570  Bangalore             Delhi Daredevils  Royal Challengers Bangalore

                     toss_winner toss_decision                       winner
300             Delhi Daredevils           bat                          NaN
461  Royal Challengers Bangalore         field  Royal Challengers Bangalore
462        Kolkata Knight Riders           bat             Delhi Daredevils
466             Rajasthan Royals         field          Chennai Super Kings
468          Sunrisers Hyderabad           bat          Sunrisers Hyderabad
469               Mumbai Indians           bat          Chennai Super Kings
474              Kings XI Punjab         field              Kings XI Punjab
476               Mumbai Indians         field          Sunrisers Hyderabad
545             Rajasthan Royals         field                          NaN
570  Royal Challengers Bangalore         field                          NaN

In [82]:
len(input_df_1)

636

In [83]:
input_df_1=input_df_1.dropna()

In [84]:
len(input_df_1)

626

In [85]:
input_df_1.head()

,city,team1,team2,toss_winner,toss_decision,winner
0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad
1,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,Rising Pune Supergiant
2,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders
3,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab
4,Bangalore,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,Royal Challengers Bangalore

In [86]:
X=input_df_1.iloc[:,0:5]
Y=input_df_1.iloc[:,5]

In [87]:
X.head()

,city,team1,team2,toss_winner,toss_decision
0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field
1,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field
2,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field
3,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field
4,Bangalore,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat

In [88]:
Y.head()

0            Sunrisers Hyderabad
1         Rising Pune Supergiant
2          Kolkata Knight Riders
3                Kings XI Punjab
4    Royal Challengers Bangalore
Name: winner, dtype: object

In [90]:
##Encode all the categorical values
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
LabelEncoder_X_1 = LabelEncoder()
X['city']=LabelEncoder_X_1.fit_transform(X['city'])

C:\AnacondaNew\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [91]:
X.head()

,city,team1,team2,toss_winner,toss_decision
0,13,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field
1,24,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field
2,26,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field
3,14,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field
4,2,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat

In [92]:
LabelEncoder_X_2 = LabelEncoder()
X['team1']=LabelEncoder_X_2.fit_transform(X['team1'])
LabelEncoder_X_3 = LabelEncoder()
X['team2']=LabelEncoder_X_3.fit_transform(X['team2'])
LabelEncoder_X_4 = LabelEncoder()
X['toss_winner']=LabelEncoder_X_4.fit_transform(X['toss_winner'])
LabelEncoder_X_5 = LabelEncoder()
X['toss_decision']=LabelEncoder_X_5.fit_transform(X['toss_decision'])

C:\AnacondaNew\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\AnacondaNew\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\AnacondaNew\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\AnacondaNew\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [93]:
X.head()

   city  team1  team2  toss_winner  toss_decision
0    13     13     12           12              1
1    24      7     10           10              1
2    26      3      6            6              1
3    14     10      4            4              1
4     2     12      2           12              0

In [97]:
Y=Y.to_frame()

In [98]:
LabelEncoder_Y_1=LabelEncoder()
Y.iloc[:,0]=LabelEncoder_Y_1.fit_transform(Y.iloc[:,0])

In [99]:
Y.head()

   winner
0      13
1      10
2       6
3       4
4      12

In [101]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [102]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train,Y_train)
Y_pred=classifier.predict(X_test)

C:\AnacondaNew\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\AnacondaNew\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [112]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(Y_test,Y_pred)

0.5873015873015873

In [111]:
len(Y_pred)

126

HYPER PARAMETER OPTIMISATION

In [114]:
params = { "max_depth":[3,4,5,6,8,10,12,14],
    "learning_rate":[0.05,0.1,0.15,0.2,0.25,0.3],
    "gamma":[0.0,0.1,0.2,0.3,0.4],
    "min_child_weight":[1,3,5,7],
    "colsample_bytree":[0.3,0.4,0.5,0.7]
   }

In [115]:
from sklearn.model_selection import RandomizedSearchCV

In [122]:
classifier1 = XGBClassifier()
random_search = RandomizedSearchCV(classifier1,param_distributions=params,n_iter=5,n_jobs=-1,cv=5,verbose=3)

In [123]:
random_search.fit(X,Y)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:   29.0s finished
C:\AnacondaNew\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\AnacondaNew\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
          estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1),
          fit_params=None, iid='warn', n_iter=5, n_jobs=-1,
          param_distributions={'max_depth': [3, 4, 5, 6, 8, 10, 12, 14], 'learning_rate': [0.05, 0.1, 0.15, 0.2, 0.25, 0.3], 'gamma': [0.0, 0.1, 0.2, 0.3, 0.4], 'min_child_weight': [1, 3, 5, 7], 'colsample_bytree': [0.3, 0.4, 0.5, 0.7]},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score='warn', scoring=None, verbose=3)

In [124]:
random_search.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.7, gamma=0.4,
       learning_rate=0.1, max_delta_step=0, max_depth=10,
       min_child_weight=7, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=None, subsample=1, verbosity=1)

In [125]:
random_search.best_params_

{'min_child_weight': 7,
 'max_depth': 10,
 'learning_rate': 0.1,
 'gamma': 0.4,
 'colsample_bytree': 0.7}

In [126]:
classifier2=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.7, gamma=0.4,
       learning_rate=0.1, max_delta_step=0, max_depth=10,
       min_child_weight=7, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=None, subsample=1, verbosity=1)

In [129]:
##using cross validation with the classifier
from sklearn.model_selection import cross_val_score
cross_val_score(classifier2,X,Y,cv=5)

C:\AnacondaNew\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\AnacondaNew\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0.57251908, 0.53488372, 0.56451613, 0.59836066, 0.50833333])